# create .env.development for dev
# create .env.production for prod
# create .env.staging for staging
# create .env.pentest for pentest
# then copy variable below to the environment you want to use

# APP NAME
APP_NAME=init-nest

# ENV
NODE_ENV=development

# PORT
PORT=3000

# DEBUG
# If you dont want debug mongoose
DEBUG_MONGOOSE_TRANSACTION=false
DEBUG_MONGOOSE_MODEL=false
DEBUG_GLOBAL_PIPE=false
DEBUG_GLOBAL_INTERCEPTOR=false

# DATABASE MONGODB
DB_URI=mongodb://localhost:27017/template_nest_example

# ENCRYPT aes-256-cbc
## CIPHER_KEY.length = 32
CIPHER_KEY=e0fbmmbrZoKbw5BZFo1LTi0SVWhBo3GD
## CIPHER_IV.length = 16
CIPHER_IV=W0cMY4tTLVeaJLaA